.row {
    display: flex;
    align-items: stretch;
}

.row .label {
    flex: 0 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grilledFish {
    background-color: beige;
}

.hamburger {
    background-color: rgb(139, 94, 3);
}

.lemon {
    background-color: aquamarine;
}